*,
*::after,
*::before{
    box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    list-style-type: none;
    background:transparent;
    text-decoration: none;
    color: inherit;
}

html{
    --btn: #B84A3D;
    --bold-text: #2B2B2B;
    --light-text: #778899;
    --about-text: #000;
    --bg: #FFDEAD;

    --light: 16px;
    --line_height__light: 20px;

    --regular: 20px;
    --line_height__regular: 24px;

    --medium: 18px;
    --line_height__medium: 22px;

    --bold: 38px;
    --line_height__bold: 44px;

    --regular-slider: 22px;
    --line_height__regular-slider: 27px;

    --light-slider: 13px;
    --line_height__light-slider: 20px;

    --BebasNeue-text: 28px;
    --lineHeight-BebasNeue-text: 34px;

    --BebasNeue-logo: 58px;
    --lineHeight-BebasNeue-logo: 70px;
}

body{
    font: normal 400 18px/22px 'Montserrat', sans-serif;

    background-color: #212121;
    color: #fff;
}

.conteiner{
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-height: 100vh; */
    /* overflow: hidden; */
}

.main{
    padding-left: 330px;
}

@media screen and (max-width: 1200px){
    .main{
        padding: 0;
    }
    .conteiner{
        padding: 0 80px;
    }
}

@media screen and (max-width: 755px){
    .conteiner{
        padding: 0 60px;
    }
}

@media screen and (max-width: 640px){
    .conteiner{
        padding: 0 50px;
    }
}

@media screen and (max-width: 500px){
    .conteiner{
        padding: 0 40px;
    }
}



.page__mask{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

button, 
html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer;
    border: none;
}

nav ul {
    list-style:none;
    text-decoration: none;
}

hr{
    margin: 0;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}